body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: skyblue;
}

.calculator {
  background-color: black;
  border: 2px solid #4e4b4b;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px;
}

.calculator #inputBox {
  width: 100%;
  padding: 15px;
  font-size: 27px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  padding: 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: #147cb8;
  border-radius: 4px;
}

.btn:hover {
  background-color: #e0e0e0;
}

.operation {
  background-color: #ffe203;
  color: #333;
}

.clear {
  background-color: #ff3333;
  color: #fff;
}

.equal {
  background-color: #5cb85c;
  color: #fff;
}
